<style>
  .navbar{
      background:#FFFFFF;
      height: 70px;
  }
  .nav-link,.navbar-brand{
      color:#842E66;
      font-size: 19px;
  }
  .navbar-brand{
      font-weight: 900;
      font-size: 25px;
      margin: 10;
  }

  
  .nav-link:hover{
    color:#842E66;
      border-bottom: 2px solid #842E66;
  }
  


 
</style>


<nav class="navbar sticky-top navbar-expand-lg ">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">LIBRARY <i class="fa-solid fa-book"></i></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <i class="fa-solid fa-bars"></i>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <a class="nav-link" href="/">HOME <i class="fa-solid fa-house"></i></a>
               <a class="nav-link" href="/book">BOOK <i class="fa-solid fa-book"></i></a>
               <a class="nav-link" href="/branch">BRANCH <i class="fa-solid fa-code-branch"></i></a>
               <a class="nav-link" href="/member">MEMBER <i class="fa-solid fa-graduation-cap"></i></a>
               <a class="nav-link" href="/staff">STAFF <i class="fa-solid fa-chalkboard-user"></i></a>
               <a class="nav-link" href="/issue">ISSUE <i class="fa-solid fa-id-card"></i></a>
       </ul>
  
     <div class="navbar-nav ml-auto">
       
     
   </div>
   </div>
</div>
 </nav>