<% layout('layout/boilerplate')%>


<link rel="stylesheet" href="/stylesheets/home.css">
    
<div class="banner">
    <div class="navbar">
        <img src="liblogo.png"  class="logo" width="300px" height="100px">
        <ul>
            <li><a href="#" style="font-weight:bold">HOME</a></li>
            <li><a href="#"  style="font-weight:bold">ADD BOOK</a></li>
            <li><a href="#"  style="font-weight:bold">ADD STAFF</a></li>
            <li><a href="#"  style="font-weight:bold">RETURN</a></li>
            <li><a href="#"  style="font-weight:bold">ISSUE</a></li>
        </ul>


    </div>
    <div class="content">
        <h1>BUILT YOUR KNOWLEDGE</h1>
        <P>alkksdjkjd dahfhodfjjf dfhdsoihsdiofho dohdsohfodshijiodjf dfhsdofhodsifjoi <br>uhsuiahiuah igyudgfuydff </P>
        <div>
            <button type="button"> <span></span> LOGIN</button>
            <button type="button"> <span></span>  SIGN UP</button>
        </div>
    </div>
</div>


    