<% layout('layout/boilerplate') %>
<style>
    label{
      color:#842E66;
      font-size: 22px;
    }
  </style>
    <div class="container mt-5 my-4">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card shadow mt-5">
                    <div class="card-body">
                        
                         <form class="row" name="form" actiom="/issue" method="post">
                <div class="mb-3">
                <label class="form-label" for="book_id" >BOOK ID</label>
                    <input class="form-control" type="text" id="book_id"  name="Book_Id">
            </div>
            <div class="mb-3">
                <label class="form-label" for="author">Member ID</label>
                <input class="form-control" type="text" id="cust_id" name="Member_Id">
            </div>

            <div class="mb-3 ">
                <label class="form-label" for="author"> ISSUE_DATE</label>
                <input class="form-control" type="date" id="issue_date" name="Issue_Date">    
            </div>

            <div class="mb-3">
                <label class="form-label" for="author"> RETURN_DATE</label>
                <input class="form-control" type="date" id="issue_date" name="Return_Date">
            </div>
            <div class="d-grid gap-2 col-6">
                <button class="btn btn-secondary">ISSUE A BOOK</button>
            </div>
            <div class="d-grid gap-2 col-6">
              <a href="/issue/view" class="btn btn-secondary">View Issued Books</a>
          </div>
            
            
  
            </form>

            </div>
            </div>
            </div>
            </div>
            
        </div> 


      </div>