<% layout('layout/boilerplate') %>
<style>
  label{
    color:#842E66;
    font-size: 22px;
  }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="card shadow">
                <div class="card-body">

        <form class="row" action="/staff" method="post">
        <div class="form-group mb-3">
                <label class="form-label" for="name">Staff Name</label>
                <input type="text" name="Staff_Name" id=""name class="form-control">
        </div> 
        <div class="form-group mb-3">
                 <label class="form-label" for="add">Address:</label>
                 <textarea class="form-control" name="Staff_Address" id="" cols="100" rows="1"> </textarea>
        </div>
        <div class="form-group mb-3">
                <label class="form-label" for="gender"> Staff Gender:</label>
                <input type="radio" class="form-check-input" name="Staff_Gender" id="male" value ="Male" >
                <label for="male" class="form-label">&nbsp Male</label>
                <input type="radio" name="Staff_Gender" id="gender" class="form-check-input" value ="Female" >
                <label for="female" class="form-label" >&nbsp Female</label>
        </div>
        <div class="form-group mb-3">
                <label class="form-label" id="phone"> Staff Phone:</label>
                <input type="tel" name="Staff_Phone" id="phone" class="form-control">
        </div> 
        <div class="form-group mb-3">
                <label  class="form-label" id="branch_id"> Branch Id:</label>
                <input type="text" name="Branch_Id" id="branch_id" class="form-control">
        </div>
        <div class="d-grid gap-1 col-3 mb-3">
               <button class="btn btn-secondary">Add </button>
        </div>
        <div class="col-3 d-grid gap-1 mb-3">
               <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                DELETE 
              </button>
            </div>
            <div class="col-3 d-grid gap-1 mb-3">
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticModel">
                UPDATE
              </button>
        </div>
        <div class="col-3 d-grid gap-1 mb-3">
          <a href="/staff/view" class="btn btn-secondary">VIEW</a>
        </div>
        </form>
    </div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">DELETE A BRANCH</h5>
            </div>
            <div class="modal-body">
              <form action="/staff?_method=DELETE" method="post">
                <div class="mb-3">
                    <label for="BRANCH_id" class="form-label">STAFF ID</label>
                    <input type="text" class="form-control" name="Staff_Id" id="BRANCH_id">
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger">DELETE</button>
                </div>
            </form>
            
            </div>
           
          </div>
        </div>
      </div>
    
      <div class="modal fade" id="staticModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticModel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">UPDATE A BRANCH</h5>
            </div>
            <div class="modal-body">
              <form action="/staff?_method=PUT" method="post">
                <div class="mb-3">
                    <label for="BRANCH_id" class="form-label">STAFF ID</label>
                    <input type="text" class="form-control" name="Staff_Id" id="BRANCH_id">
                </div>
                    <div class="form-group mb-3">
                      <label class="form-label" for="bname"> PHONE NUMBER</label>
                      <input type="tel" name="Phone" id="bname" class="form-control">
                  </div> 
                  
                <div class="d-grid gap-2">
                    <button class="btn btn-secondary">UPDATE</button>
                </div>
            </form>
            
            </div>
           
          </div>
        </div>
      </div>